database-backfill/Database_Backfill.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description>Template to backfill data from a database</description>
  <groupId>aee75dd7-2c38-16ca-ffff-ffff849dc14a</groupId>
  <name>Database Backfill</name>
  <snippet>
    <processGroups>
      <id>bd80ae0c-fc23-394d-0000-000000000000</id>
      <parentGroupId>55d08ee4-0d20-30fd-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>9b6c5a7c-df6c-3fce-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>974.1694946289062</x>
            <y>1694.5596923828125</y>
          </bends>
          <bends>
            <x>848.1694946289062</x>
            <y>1695.5596923828125</y>
          </bends>
          <destination>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>ffc1283d-a2df-38a7-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>comms.failure</selectedRelationships>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>ffc1283d-a2df-38a7-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a4312d4f-217b-3d79-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>fa73ff13-e6b8-301f-0000-000000000000</id>
            <type>FUNNEL</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>33f49eae-7ea1-3a87-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a4885c6f-cf06-3e92-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>c02f84ce-2429-3a26-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>452be4c8-b616-3214-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a6b1543f-5be6-3cd7-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>d8220d33-4e6b-3541-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>fa73ff13-e6b8-301f-0000-000000000000</id>
            <type>FUNNEL</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>b22954fc-d120-3e8a-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>1</backPressureObjectThreshold>
          <destination>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>7b74cddb-e711-3097-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>1</selectedRelationships>
          <source>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>d8220d33-4e6b-3541-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>cdb6253f-34d9-3859-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>f834e8cf-d772-3920-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>7234d1a0-8b19-35cc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>ed03b001-fa64-3925-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>33f49eae-7ea1-3a87-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>f834e8cf-d772-3920-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f4b5440e-a392-3616-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>676da9f5-c0eb-32ec-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>ffc1283d-a2df-38a7-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>10e08227-8b6a-384e-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1992.4864501953125</x>
            <y>1704.3614501953125</y>
          </bends>
          <bends>
            <x>1818.305908203125</x>
            <y>1702.0390625</y>
          </bends>
          <destination>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>7234d1a0-8b19-35cc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>unmatched</selectedRelationships>
          <source>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>7234d1a0-8b19-35cc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>39be3599-fb91-34ed-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1465.970947265625</x>
            <y>1682.4071044921875</y>
          </bends>
          <bends>
            <x>1314.3087158203125</x>
            <y>1685.961669921875</y>
          </bends>
          <destination>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>676da9f5-c0eb-32ec-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>676da9f5-c0eb-32ec-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>3b6f954f-b754-3f1d-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>1</backPressureObjectThreshold>
          <destination>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>72f325ae-c481-33a8-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>3</selectedRelationships>
          <source>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>d8220d33-4e6b-3541-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>4dfea029-d79d-346d-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>7234d1a0-8b19-35cc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>splits</selectedRelationships>
          <source>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>676da9f5-c0eb-32ec-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>6b9b8a68-cb28-3141-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>1</backPressureObjectThreshold>
          <destination>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>a60f7829-8a2d-31e0-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>4</selectedRelationships>
          <source>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>d8220d33-4e6b-3541-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>71578e36-3f86-3c59-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>838.1285400390625</x>
            <y>1265.7606201171875</y>
          </bends>
          <bends>
            <x>994.2985229492188</x>
            <y>1269.13720703125</y>
          </bends>
          <destination>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>ae9663ad-ec14-3c1d-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <selectedRelationships>not.found</selectedRelationships>
          <selectedRelationships>permission.denied</selectedRelationships>
          <source>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>ae9663ad-ec14-3c1d-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>748fa70d-c808-39e7-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>ffc1283d-a2df-38a7-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>c02f84ce-2429-3a26-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>7ee2f3ce-0274-372b-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>1</backPressureObjectThreshold>
          <destination>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>a7df2377-34e6-3ff3-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>2</selectedRelationships>
          <source>
            <groupId>bd80ae0c-fc23-394d-0000-000000000000</groupId>
            <id>d8220d33-4e6b-3541-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <funnels>
          <id>fa73ff13-e6b8-301f-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>3502.0481706908054</x>
            <y>1535.7994180518185</y>
          </position>
        </funnels>
        <labels>
          <id>a0c8cad0-24b8-3293-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>2227.2608108098793</x>
            <y>1309.5618941213243</y>
          </position>
          <height>708.5159912109375</height>
          <label>Set attributes to be used in queries</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>14px</value>
            </entry>
          </style>
          <width>399.64068603515625</width>
        </labels>
        <labels>
          <id>b0cfb413-5963-3aed-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>2699.3172072942543</x>
            <y>1312.8864790822618</y>
          </position>
          <height>708.5159912109375</height>
          <label>Build queries, create the filepath to put transformed 
data, and set the filename to use uuid_table</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>14px</value>
            </entry>
          </style>
          <width>399.64068603515625</width>
        </labels>
        <labels>
          <id>c8701caa-d24c-3f0b-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>4931.273341718622</x>
            <y>1482.96544891409</y>
          </position>
          <height>65.02604675292969</height>
          <label>Process data in downstream using load balancing</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>14px</value>
            </entry>
          </style>
          <width>364.41754150390625</width>
        </labels>
        <labels>
          <id>d81ed89c-3796-32b0-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>-218.65786862995083</x>
            <y>1212.0825679987393</y>
          </position>
          <height>460.92724609375</height>
          <label>Database Backfill
-- Start and stop generateFlowFile to begin. Modify as needed
.
1. Read in backfill dates from file
2. Split file
3. Parse flowfiles to make necessary fields for query builders:
    datepath
    windowstart
    windowend
    etc.
4. Make query
.
From here on be careful of the load, dont want overload the controller service or the database
5. Pull data
6. Send downstream to load balanced avro to orc conversion or other manipulation
</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>14px</value>
            </entry>
          </style>
          <width>609.7050170898438</width>
        </labels>
        <labels>
          <id>731d9b6c-578a-377a-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>4060.3314590865557</x>
            <y>1281.177550456851</y>
          </position>
          <height>688.130615234375</height>
          <label>Only allow 1 flowfile of back pressue 
for each relationship so we dont swamp
the controller service.
.
The distribute load uses next available
so when the queue is empty it should 
fill correctly</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>14px</value>
            </entry>
          </style>
          <width>265.38336181640625</width>
        </labels>
        <processors>
          <id>a60f7829-8a2d-31e0-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>4366.357017933663</x>
            <y>1920.5385951142487</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Database Connection Pooling Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                  <name>Database Connection Pooling Service</name>
                </value>
              </entry>
              <entry>
                <key>SQL select query</key>
                <value>
                  <name>SQL select query</name>
                </value>
              </entry>
              <entry>
                <key>Max Wait Time</key>
                <value>
                  <name>Max Wait Time</name>
                </value>
              </entry>
              <entry>
                <key>dbf-normalize</key>
                <value>
                  <name>dbf-normalize</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>PRIMARY</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Database Connection Pooling Service</key>
              </entry>
              <entry>
                <key>SQL select query</key>
              </entry>
              <entry>
                <key>Max Wait Time</key>
                <value>0 seconds</value>
              </entry>
              <entry>
                <key>dbf-normalize</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ExecuteSQL</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
        </processors>
        <processors>
          <id>a7df2377-34e6-3ff3-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>4368.202476918038</x>
            <y>1492.9391078095612</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Database Connection Pooling Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                  <name>Database Connection Pooling Service</name>
                </value>
              </entry>
              <entry>
                <key>SQL select query</key>
                <value>
                  <name>SQL select query</name>
                </value>
              </entry>
              <entry>
                <key>Max Wait Time</key>
                <value>
                  <name>Max Wait Time</name>
                </value>
              </entry>
              <entry>
                <key>dbf-normalize</key>
                <value>
                  <name>dbf-normalize</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>PRIMARY</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Database Connection Pooling Service</key>
              </entry>
              <entry>
                <key>SQL select query</key>
              </entry>
              <entry>
                <key>Max Wait Time</key>
                <value>0 seconds</value>
              </entry>
              <entry>
                <key>dbf-normalize</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ExecuteSQL</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
        </processors>
        <processors>
          <id>ae9663ad-ec14-3c1d-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>746.8234013988447</x>
            <y>1324.8363501795302</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>File to Fetch</key>
                <value>
                  <name>File to Fetch</name>
                </value>
              </entry>
              <entry>
                <key>Completion Strategy</key>
                <value>
                  <name>Completion Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Move Destination Directory</key>
                <value>
                  <name>Move Destination Directory</name>
                </value>
              </entry>
              <entry>
                <key>Move Conflict Strategy</key>
                <value>
                  <name>Move Conflict Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Log level when file not found</key>
                <value>
                  <name>Log level when file not found</name>
                </value>
              </entry>
              <entry>
                <key>Log level when permission denied</key>
                <value>
                  <name>Log level when permission denied</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>File to Fetch</key>
                <value>${absolute.path}/${filename}</value>
              </entry>
              <entry>
                <key>Completion Strategy</key>
                <value>None</value>
              </entry>
              <entry>
                <key>Move Destination Directory</key>
              </entry>
              <entry>
                <key>Move Conflict Strategy</key>
                <value>Rename</value>
              </entry>
              <entry>
                <key>Log level when file not found</key>
                <value>ERROR</value>
              </entry>
              <entry>
                <key>Log level when permission denied</key>
                <value>ERROR</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Get dates file from local FS</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>not.found</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>permission.denied</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.FetchFile</type>
        </processors>
        <processors>
          <id>af064922-6a09-3fb0-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>2245.1318384261585</x>
            <y>1666.7732271290545</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments>Attributes and their meaning/use

baseDir: The base directory where the data will be stored
schema: Schema used in the database used to store HPPM data
table: Table used within the schema
datePath: Used to create a path for the data to be stored. Data in a path like 2018/08/07 will have records 
with datetimes of that day. The time used is CST (GMT-5 hours)
windowEnd: Used within the query
windoStart: Used within the query

Data will be stored in:

${baseDir}/${schema}/${table}/${datePath}</comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>baseDir</key>
                <value>
                  <name>baseDir</name>
                </value>
              </entry>
              <entry>
                <key>datePath</key>
                <value>
                  <name>datePath</name>
                </value>
              </entry>
              <entry>
                <key>schema</key>
                <value>
                  <name>schema</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>table</key>
                <value>
                  <name>table</name>
                </value>
              </entry>
              <entry>
                <key>windowEnd</key>
                <value>
                  <name>windowEnd</name>
                </value>
              </entry>
              <entry>
                <key>windowStart</key>
                <value>
                  <name>windowStart</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>baseDir</key>
                <value>BASEDIR</value>
              </entry>
              <entry>
                <key>datePath</key>
                <value>${date}</value>
              </entry>
              <entry>
                <key>schema</key>
                <value>SCHEMA</value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>table</key>
                <value>TABLE</value>
              </entry>
              <entry>
                <key>windowEnd</key>
                <value>${date:toDate('yyyy/MM/dd'):toNumber():plus(8.64e7):format('yyyy-MM-dd')}</value>
              </entry>
              <entry>
                <key>windowStart</key>
                <value>${date:toDate('yyyy/MM/dd'):format('yyyy-MM-dd')}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Create attributes for &lt;table&gt; query</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>c02f84ce-2429-3a26-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>293.16796755169</x>
            <y>1495.5597408503018</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>filename</key>
                <value>
                  <name>filename</name>
                </value>
              </entry>
              <entry>
                <key>path</key>
                <value>
                  <name>path</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>filename</key>
                <value>FILENAME</value>
              </entry>
              <entry>
                <key>path</key>
                <value>PATH</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Set path and name for dates file</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>d8220d33-4e6b-3541-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>3693.5807912744435</x>
            <y>1492.8000212429952</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Number of Relationships</key>
                <value>
                  <name>Number of Relationships</name>
                </value>
              </entry>
              <entry>
                <key>Distribution Strategy</key>
                <value>
                  <name>Distribution Strategy</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Number of Relationships</key>
                <value>4</value>
              </entry>
              <entry>
                <key>Distribution Strategy</key>
                <value>next available</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>DistributeLoad</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>1</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>2</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>3</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>4</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.DistributeLoad</type>
        </processors>
        <processors>
          <id>f834e8cf-d772-3920-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>2249.9548364730335</x>
            <y>1492.657870683742</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments>Attributes and their meaning/use

baseDir: The base directory where the data will be stored
schema: Schema used in the database used to store HPPM data
table: Table used within the schema
datePath: Used to create a path for the data to be stored. Data in a path like 2018/08/07 will have records 
with datetimes of that day. The time used is CST (GMT-5 hours)
windowEnd: Used within the query
windoStart: Used within the query

Data will be stored in:

${baseDir}/${schema}/${table}/${datePath}</comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>baseDir</key>
                <value>
                  <name>baseDir</name>
                </value>
              </entry>
              <entry>
                <key>datePath</key>
                <value>
                  <name>datePath</name>
                </value>
              </entry>
              <entry>
                <key>schema</key>
                <value>
                  <name>schema</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>table</key>
                <value>
                  <name>table</name>
                </value>
              </entry>
              <entry>
                <key>windowEnd</key>
                <value>
                  <name>windowEnd</name>
                </value>
              </entry>
              <entry>
                <key>windowStart</key>
                <value>
                  <name>windowStart</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>baseDir</key>
                <value>BASEDIR</value>
              </entry>
              <entry>
                <key>datePath</key>
                <value>${date}</value>
              </entry>
              <entry>
                <key>schema</key>
                <value>SCHEMA</value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>table</key>
                <value>TABLE</value>
              </entry>
              <entry>
                <key>windowEnd</key>
                <value>${date:toDate('yyyy/MM/dd'):toNumber():plus(8.64e7):format('yyyy-MM-dd')}</value>
              </entry>
              <entry>
                <key>windowStart</key>
                <value>${date:toDate('yyyy/MM/dd'):format('yyyy-MM-dd')}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Create attributes for &lt;table&gt; query</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>ffc1283d-a2df-38a7-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>750.1694934305963</x>
            <y>1494.5597408503018</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Hadoop Configuration Resources</key>
                <value>
                  <name>Hadoop Configuration Resources</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
                <value>
                  <name>Kerberos Principal</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
                <value>
                  <name>Kerberos Keytab</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Relogin Period</key>
                <value>
                  <name>Kerberos Relogin Period</name>
                </value>
              </entry>
              <entry>
                <key>Additional Classpath Resources</key>
                <value>
                  <name>Additional Classpath Resources</name>
                </value>
              </entry>
              <entry>
                <key>HDFS Filename</key>
                <value>
                  <name>HDFS Filename</name>
                </value>
              </entry>
              <entry>
                <key>Compression codec</key>
                <value>
                  <name>Compression codec</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>PRIMARY</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Hadoop Configuration Resources</key>
                <value>/usr/hdf/current/nifi/conf/core-site.xml,/usr/hdf/current/nifi/conf/hdfs-site.xml</value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
              </entry>
              <entry>
                <key>Kerberos Relogin Period</key>
                <value>4 hours</value>
              </entry>
              <entry>
                <key>Additional Classpath Resources</key>
              </entry>
              <entry>
                <key>HDFS Filename</key>
                <value>${path}/${filename}</value>
              </entry>
              <entry>
                <key>Compression codec</key>
                <value>NONE</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Get dates file from HDFS</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>comms.failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.hadoop.FetchHDFS</type>
        </processors>
        <processors>
          <id>33f49eae-7ea1-3a87-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>2728.1491476494502</x>
            <y>1494.4096810589685</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>filename</key>
                <value>
                  <name>filename</name>
                </value>
              </entry>
              <entry>
                <key>path</key>
                <value>
                  <name>path</name>
                </value>
              </entry>
              <entry>
                <key>query</key>
                <value>
                  <name>query</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>filename</key>
                <value>${UUID()}_${table}</value>
              </entry>
              <entry>
                <key>path</key>
                <value>${baseDir}/${schema}/${table}/${datePath}</value>
              </entry>
              <entry>
                <key>query</key>
                <value>select * from ${schema}.${table} where &lt;COLUMN&gt; &gt;= DATE '${windowStart}' and &lt;COLUMN&gt; &lt; DATE '${windowEnd}' </value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Query builder, filepath, and filename setter</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>452be4c8-b616-3214-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>-148.83203244830997</x>
            <y>1494.5597408503018</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>File Size</key>
                <value>
                  <name>File Size</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>
                  <name>Data Format</name>
                </value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>
                  <name>Unique FlowFiles</name>
                </value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
                <value>
                  <name>generate-ff-custom-text</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>PRIMARY</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>File Size</key>
                <value>0B</value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>false</value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>600 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GenerateFlowFile</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
          <id>676da9f5-c0eb-32ec-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>1228.4200427470025</x>
            <y>1492.9858883112393</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Line Split Count</key>
                <value>
                  <name>Line Split Count</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Fragment Size</key>
                <value>
                  <name>Maximum Fragment Size</name>
                </value>
              </entry>
              <entry>
                <key>Header Line Count</key>
                <value>
                  <name>Header Line Count</name>
                </value>
              </entry>
              <entry>
                <key>Header Line Marker Characters</key>
                <value>
                  <name>Header Line Marker Characters</name>
                </value>
              </entry>
              <entry>
                <key>Remove Trailing Newlines</key>
                <value>
                  <name>Remove Trailing Newlines</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Line Split Count</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Maximum Fragment Size</key>
              </entry>
              <entry>
                <key>Header Line Count</key>
                <value>0</value>
              </entry>
              <entry>
                <key>Header Line Marker Characters</key>
              </entry>
              <entry>
                <key>Remove Trailing Newlines</key>
                <value>true</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Split dates text</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>splits</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.SplitText</type>
        </processors>
        <processors>
          <id>6c9e43fa-35dd-37d4-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>2723.3261496025752</x>
            <y>1668.525037504281</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>filename</key>
                <value>
                  <name>filename</name>
                </value>
              </entry>
              <entry>
                <key>path</key>
                <value>
                  <name>path</name>
                </value>
              </entry>
              <entry>
                <key>query</key>
                <value>
                  <name>query</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>filename</key>
                <value>${UUID()}_${table}</value>
              </entry>
              <entry>
                <key>path</key>
                <value>${baseDir}/${schema}/${table}/${datePath}</value>
              </entry>
              <entry>
                <key>query</key>
                <value>select * from ${schema}.${table} where &lt;COLUMN&gt; &gt;= DATE '${windowStart}' and &lt;COLUMN&gt; &lt; DATE '${windowEnd}' </value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Query builder, filepath, and filename setter</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>7234d1a0-8b19-35cc-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>1729.5520007548148</x>
            <y>1491.9075191706143</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Capture Group Length</key>
                <value>
                  <name>Maximum Capture Group Length</name>
                </value>
              </entry>
              <entry>
                <key>Enable Canonical Equivalence</key>
                <value>
                  <name>Enable Canonical Equivalence</name>
                </value>
              </entry>
              <entry>
                <key>Enable Case-insensitive Matching</key>
                <value>
                  <name>Enable Case-insensitive Matching</name>
                </value>
              </entry>
              <entry>
                <key>Permit Whitespace and Comments in Pattern</key>
                <value>
                  <name>Permit Whitespace and Comments in Pattern</name>
                </value>
              </entry>
              <entry>
                <key>Enable DOTALL Mode</key>
                <value>
                  <name>Enable DOTALL Mode</name>
                </value>
              </entry>
              <entry>
                <key>Enable Literal Parsing of the Pattern</key>
                <value>
                  <name>Enable Literal Parsing of the Pattern</name>
                </value>
              </entry>
              <entry>
                <key>Enable Multiline Mode</key>
                <value>
                  <name>Enable Multiline Mode</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unicode-aware Case Folding</key>
                <value>
                  <name>Enable Unicode-aware Case Folding</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unicode Predefined Character Classes</key>
                <value>
                  <name>Enable Unicode Predefined Character Classes</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unix Lines Mode</key>
                <value>
                  <name>Enable Unix Lines Mode</name>
                </value>
              </entry>
              <entry>
                <key>Include Capture Group 0</key>
                <value>
                  <name>Include Capture Group 0</name>
                </value>
              </entry>
              <entry>
                <key>extract-text-enable-repeating-capture-group</key>
                <value>
                  <name>extract-text-enable-repeating-capture-group</name>
                </value>
              </entry>
              <entry>
                <key>date</key>
                <value>
                  <name>date</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Maximum Capture Group Length</key>
                <value>1024</value>
              </entry>
              <entry>
                <key>Enable Canonical Equivalence</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Case-insensitive Matching</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Permit Whitespace and Comments in Pattern</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable DOTALL Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Literal Parsing of the Pattern</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Multiline Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unicode-aware Case Folding</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unicode Predefined Character Classes</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unix Lines Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Include Capture Group 0</key>
                <value>true</value>
              </entry>
              <entry>
                <key>extract-text-enable-repeating-capture-group</key>
                <value>false</value>
              </entry>
              <entry>
                <key>date</key>
                <value>(.*)</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Get date as attribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ExtractText</type>
        </processors>
        <processors>
          <id>72f325ae-c481-33a8-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>4366.971764027413</x>
            <y>1720.6557826142487</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Database Connection Pooling Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                  <name>Database Connection Pooling Service</name>
                </value>
              </entry>
              <entry>
                <key>SQL select query</key>
                <value>
                  <name>SQL select query</name>
                </value>
              </entry>
              <entry>
                <key>Max Wait Time</key>
                <value>
                  <name>Max Wait Time</name>
                </value>
              </entry>
              <entry>
                <key>dbf-normalize</key>
                <value>
                  <name>dbf-normalize</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>PRIMARY</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Database Connection Pooling Service</key>
              </entry>
              <entry>
                <key>SQL select query</key>
              </entry>
              <entry>
                <key>Max Wait Time</key>
                <value>0 seconds</value>
              </entry>
              <entry>
                <key>dbf-normalize</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ExecuteSQL</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
        </processors>
        <processors>
          <id>7b74cddb-e711-3097-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>4364.878014027413</x>
            <y>1280.9884242158112</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Database Connection Pooling Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                  <name>Database Connection Pooling Service</name>
                </value>
              </entry>
              <entry>
                <key>SQL select query</key>
                <value>
                  <name>SQL select query</name>
                </value>
              </entry>
              <entry>
                <key>Max Wait Time</key>
                <value>
                  <name>Max Wait Time</name>
                </value>
              </entry>
              <entry>
                <key>dbf-normalize</key>
                <value>
                  <name>dbf-normalize</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>PRIMARY</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Database Connection Pooling Service</key>
              </entry>
              <entry>
                <key>SQL select query</key>
              </entry>
              <entry>
                <key>Max Wait Time</key>
                <value>0 seconds</value>
              </entry>
              <entry>
                <key>dbf-normalize</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ExecuteSQL</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
        </processors>
        <remoteProcessGroups>
          <id>089f24d7-6895-3a17-0000-000000000000</id>
          <parentGroupId>bd80ae0c-fc23-394d-0000-000000000000</parentGroupId>
          <position>
            <x>4922.839638225815</x>
            <y>1559.4879425614</y>
          </position>
          <communicationsTimeout>30 sec</communicationsTimeout>
          <contents>
            <inputPorts>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <connected>false</connected>
              <exists>true</exists>
              <id>cd6b7363-015a-1000-ffff-ffffde9bb726</id>
              <name>itsm_in_testing</name>
              <targetRunning>false</targetRunning>
              <transmitting>false</transmitting>
              <useCompression>false</useCompression>
            </inputPorts>
            <inputPorts>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <connected>false</connected>
              <exists>true</exists>
              <id>e8c235a7-af01-11bf-ffff-ffffe053f9a4</id>
              <name>itsm_in</name>
              <targetRunning>true</targetRunning>
              <transmitting>false</transmitting>
              <useCompression>false</useCompression>
            </inputPorts>
            <inputPorts>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <connected>false</connected>
              <exists>true</exists>
              <id>f5e34394-94b1-11db-0000-00001e05c3a4</id>
              <name>fraud_in</name>
              <targetRunning>true</targetRunning>
              <transmitting>false</transmitting>
              <useCompression>false</useCompression>
            </inputPorts>
            <inputPorts>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <connected>false</connected>
              <exists>true</exists>
              <id>9ff83f79-0dc9-17d9-9abf-be2b89d37569</id>
              <name>itsm_in Prod</name>
              <targetRunning>true</targetRunning>
              <transmitting>false</transmitting>
              <useCompression>false</useCompression>
            </inputPorts>
            <inputPorts>
              <comments>Input for Vulnerability Feeds</comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <connected>false</connected>
              <exists>true</exists>
              <id>a6ee643f-5089-1541-0000-0000678499c4</id>
              <name>vulnerability_in</name>
              <targetRunning>true</targetRunning>
              <transmitting>false</transmitting>
              <useCompression>false</useCompression>
            </inputPorts>
            <inputPorts>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <connected>false</connected>
              <exists>true</exists>
              <id>7463ddc5-bad5-1e43-ffff-ffff8b64cedc</id>
              <name>HPPM_in</name>
              <targetRunning>true</targetRunning>
              <transmitting>false</transmitting>
              <useCompression>false</useCompression>
            </inputPorts>
            <inputPorts>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <connected>false</connected>
              <exists>true</exists>
              <id>0411b4f4-0159-1000-0000-0000262d166b</id>
              <name>guardium_in</name>
              <targetRunning>true</targetRunning>
              <transmitting>false</transmitting>
              <useCompression>false</useCompression>
            </inputPorts>
            <inputPorts>
              <comments>Test input port to get toy-example working</comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <connected>false</connected>
              <exists>true</exists>
              <id>247a3378-0165-1000-0000-000017bb6710</id>
              <name>smcnult2_in_test</name>
              <targetRunning>false</targetRunning>
              <transmitting>false</transmitting>
              <useCompression>false</useCompression>
            </inputPorts>
            <inputPorts>
              <comments>Input Port for ODS</comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <connected>false</connected>
              <exists>true</exists>
              <id>7ee74140-015c-1000-ffff-ffff993651b8</id>
              <name>ODS</name>
              <targetRunning>true</targetRunning>
              <transmitting>false</transmitting>
              <useCompression>false</useCompression>
            </inputPorts>
            <inputPorts>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <connected>false</connected>
              <exists>true</exists>
              <id>99614019-a150-1b57-0000-000054299dd4</id>
              <name>TEMP_ODS</name>
              <targetRunning>true</targetRunning>
              <transmitting>false</transmitting>
              <useCompression>false</useCompression>
            </inputPorts>
            <inputPorts>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <connected>false</connected>
              <exists>true</exists>
              <id>a50e3f1a-0165-1000-0000-00002f0b93fd</id>
              <name>TWS_in</name>
              <targetRunning>true</targetRunning>
              <transmitting>false</transmitting>
              <useCompression>false</useCompression>
            </inputPorts>
          </contents>
          <proxyHost></proxyHost>
          <proxyUser></proxyUser>
          <targetUri>https://sbdl04-nifi01-01.uhc.com:9091/nifi</targetUri>
          <targetUris>https://sbdl04-nifi01-01.uhc.com:9091/nifi</targetUris>
          <transportProtocol>HTTP</transportProtocol>
          <yieldDuration>10 sec</yieldDuration>
        </remoteProcessGroups>
      </contents>
      <name>Database Backfill</name>
    </processGroups>
  </snippet>
  <timestamp>09/14/2018 17:28:38 CDT</timestamp>
</template>